
.account-sidebar .list-group-item {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}

.account-sidebar .list-group-item.active {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    border-left: 4px solid #0056b3;
}
.account-sidebar .list-group-item.active:hover {
    color: #fff;
}

.account-sidebar .list-group-item:not(.active):hover {
    background-color: #f8f9fa;
    color: #007bff;
}

.account-content {
    background-color: #fff;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
}